		<!-- BEGIN GALLERY SECTION -->
		<section id="gallery" class="divider-bottom-3 bg-color-overlay parallax no-padding-bottom no-padding-top" data-stellar-background-ratio="0.5">
			<div class="divider-top-2"></div> <!-- The class "divider-top-2" can also be applied to the tag <section>. In this case, it was added on a new <div> because the tag <section> have all pseudo elements (::after and ::before) in use. -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Gallery</h1>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="section-desc center">
							<h3 class="gallery-desc">We would love to see the wedding through your eyes.<br>Use <strong>Twitter</strong> and <strong>Instagram</strong> to share the best moments with us.</h3>
							<h1>#sarahandmark</h1>
						</div>
					</div>
				</div>
			</div>
			
			<div class="gallery-wrapper">
				<div class="gallery-left"></div>
				<div class="gallery-right"></div>
				
				<div class="gallery-scroller">
					<ul>
						<li>
							<span><a href="http://placehold.it/750x500" data-gal="prettyPhoto[gallery]" title="Wedding Photos"><i class="fa fa-link"></i></a></span>
							<img src="http://placehold.it/380x380" alt="" />
						</li>
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li>
							<span><a href="http://placehold.it/750x500" data-gal="prettyPhoto[gallery]" title="Wedding Photos"><i class="fa fa-link"></i></a></span>
							<img src="http://placehold.it/380x380" alt="" />
						</li>
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li class="tweet"></li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li>
							<span><a href="http://placehold.it/750x500" data-gal="prettyPhoto[gallery]" title="Wedding Photos"><i class="fa fa-link"></i></a></span>
							<img src="http://placehold.it/380x380" alt="" />
						</li>
						
						<li class="tweet"></li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->
					</ul>
					<ul>
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li class="tweet"></li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li>
							<span><a href="http://placehold.it/750x500" data-gal="prettyPhoto[gallery]" title="Wedding Photos"><i class="fa fa-link"></i></a></span>
							<img src="http://placehold.it/380x380" alt="" />
						</li>
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
						
						<li>
							<span><a href="http://placehold.it/750x500" data-gal="prettyPhoto[gallery]" title="Wedding Photos"><i class="fa fa-link"></i></a></span>
							<img src="http://placehold.it/380x380" alt="" />
						</li>
						
						<li class="tweet"></li> <!-- The list item with class "tweet" will be automatically populated with an Twitter post -->
						
						<li class="instagram"></li> <!-- The list item with class "instagram" will be automatically populated with an Instagram photo -->
					</ul>
				</div>
			</div>
		</section>
		<!-- END GALLERY SECTION -->
