		<!-- BEGIN GALLERY SECTION -->
		<section id="gallery" class="divider-bottom-3 bg-color-overlay parallax no-padding-bottom no-padding-top" data-stellar-background-ratio="0.5">
			<div class="divider-top-2"></div> <!-- The class "divider-top-2" can also be applied to the tag <section>. In this case, it was added on a new <div> because the tag <section> have all pseudo elements (::after and ::before) in use. -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Gallery</h1>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="section-desc center">
							<h3 class="gallery-desc">We would love to see the wedding through your eyes.<br>Use <strong>Twitter</strong> and <strong>Instagram</strong> to share the best moments with us.</h3>
							<h1>#chillon2016</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END GALLERY SECTION -->
