		<!-- BEGIN WEDDING GIFTS SECTION -->
		<section id="weddinggifts">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title">Wedding Gifts</h2>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<ul class="wedding-gifts clearfix">
							<li id="gift-list" data-animation-direction="from-bottom" data-animation-delay="250">
								<i class="fa fa-gift"></i><br>
								<h3>Check our<br>wedding gift list</h3>
								<div class="info">
									<a href="#" class="img"><img src="images/macys.png" alt="Macy's" /></a>
									<a href="#" class="img"><img src="images/target.png" alt="Target" /></a>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END WEDDING GIFTS SECTION -->
