		<!-- BEGIN WEDDING GIFTS SECTION -->
		<section id="weddinggifts">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title">Wedding Gifts</h2>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<ul class="wedding-gifts clearfix">
							<li id="gift-list" data-animation-direction="from-bottom" data-animation-delay="250">
								<i class="fa fa-gift"></i><br>
								<h3>Check our<br>wedding gift list</h3>
								<div class="info">
									<a href="#" class="img"><img src="images/macys.png" alt="Macy's" /></a>
									<a href="#" class="img"><img src="images/target.png" alt="Target" /></a>
								</div>
							</li>
							<li id="help-wedding" data-animation-direction="from-bottom" data-animation-delay="450">
								<i class="fa fa-glass"></i><br>
								<h3>Want to help<br>with the wedding</h3>
								<div class="info">
									<br><a href="#rsvp" class="btn btn-default2 scrollto"><i class="fa fa-envelope"></i>Contact us</a>
								</div>
							</li>
							<li id="help-honeymoon" data-animation-direction="from-bottom" data-animation-delay="650">
								<i class="fa fa-plane"></i><br>
								<h3>Want to help<br>with the honeymoon</h3>
								<div class="info">
									<a href="#" class="btn btn-default2">$15</a>
									<a href="#" class="btn btn-default2">$30</a>
									<a href="#" class="btn btn-default2">$50</a>
									<br>
									<a href="#" id="otheramount" class="btn btn-default2">Other Amount</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END WEDDING GIFTS SECTION -->
