		<!-- BEGIN WEDDING GIFTS SECTION -->
		<section id="weddinggifts">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title">Wedding Registry</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<ul class="wedding-gifts clearfix">
							<li id="gift-list" data-animation-direction="from-bottom" data-animation-delay="250">
								<i class="fa fa-gift"></i><br>
								<h3>Check our<br>wedding gift list</h3>
								<div class="info">
									<a href="http://www.crateandbarrel.com/gift-registry/chelsea-gottschalk-and-dillon-shook/r5497307" class="img"><img src="images/cab.png" alt="Crate and Barrel" /></a>
									<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543174099&eventType=Wedding&pwsurl=" class="img"><img src="images/bbab.png" alt="Bed Bath and Beyond" /></a>
									<a href="http://www.jcpenney.com/jsp/giftregistry/gifterGiftList/gifterGiftList.jsp?regId=80102463&sort=category&filterBy=viewAll&view=list&fName=Chelsea&lName=Gottschalk&state=PA&registryType=W&stop_mobi=yes" class="img"><img src="images/jcp.png" alt="JC Penneys" /></a>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END WEDDING GIFTS SECTION -->
