<!-- BEGIN HEADER -->
<header id="header">
  <section class="nav-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="#home" class="nav-logo"><img src="images/logo.png" alt="" /></a>
          
          <!-- BEGIN MAIN MENU -->
          <nav class="navbar">
            <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#home" data-toggle="dropdown" data-hover="dropdown">Home<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Home Slideshow</a></li>
                  <li><a href="index-countdown.html">Home Countdown<br><small>(BG Image Grid)</small></a></li>
                  <li><a href="index-video.html">Home Video</a></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#ourstory" data-toggle="dropdown" data-hover="dropdown">Our Story<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#loveline">Loveline</a></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#thewedding" data-toggle="dropdown" data-hover="dropdown">The Wedding<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#location">The Wedding Location</a></li>
                  <li><a href="#bridesmaidsgroomsmen">Bridesmaids & Groomsmen</a></li>
                  <li><a href="#weddinggifts">Wedding Gifts</a></li>
                  <li class="dropdown-submenu">
                    <a href="#">Another Menu</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Another Menu</a></li>
                      <li><a href="#">Another Menu</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              
              <li><a href="#gallery">Gallery</a></li>
              
              <li class="dropdown">
                <a href="#blog" data-toggle="dropdown" data-hover="dropdown">Blog<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="blog-single.html">Blog Single Post</a></li>
                </ul>
              </li>
              
              <li><a href="#rsvp">RSVP/Contact</a></li>
            </ul>
          </nav>
          <!-- END MAIN MENU -->
          
        </div>
      </div>
    </div>
  </section>
</header>
<!-- END HEADER -->

