<!-- BEGIN HEADER -->
<header id="header">
  <section class="nav-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="#home" class="nav-logo"><img src="images/logo.png" alt="" /></a>
          
          <!-- BEGIN MAIN MENU -->
          <nav class="navbar">
            <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>
            
            <ul class="nav navbar-nav">
              <li><a href="#home">Home</a></li>
              
              <li><a href="#ourstory">Our Story</a></li>
              
              <li class="dropdown">
                <a href="#thewedding" data-toggle="dropdown" data-hover="dropdown">The Wedding<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#location">The Wedding Location</a></li>
                  <li><a href="#weddinggifts">Wedding Gifts</a></li>
                </ul>
              </li>
              
              <li><a href="#gallery">Gallery</a></li>
              
              <li><a href="#rsvp">RSVP/Contact</a></li>
            </ul>
          </nav>
          <!-- END MAIN MENU -->
          
        </div>
      </div>
    </div>
  </section>
</header>
<!-- END HEADER -->

