		<!-- BEGIN HOME SECTION -->
		<section id="home" class="divider-bottom-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="hero-title curve">Dillon &amp; Chelsea</div>
						<div class="hero-text">Are getting Married in</div>
						<div class="hero-divider"></div>
						
						<div class="countdown"></div> <!-- Countdown container. Check the bottom of the document where the countdown is being initialized. -->
						
						<div class="hero-divider"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- END HOME SECTION -->
