		<!-- BEGIN HOME SECTION -->
		<section id="home" class="divider-bottom-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="hero-title curve">Sarah & Mark</div>
						<div class="hero-text">Are getting Married in</div>
						<div class="hero-divider"></div>
						
						<div class="countdown"></div> <!-- Countdown container. Check the bottom of the document where the countdown is being initialized. -->
						
						<div class="hero-divider"></div>
					</div>
				</div>
			</div>
			
			<div id="freewall" class="free-wall">
				<div class="item">
					<img src="http://placehold.it/362x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/471x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/268x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/443x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/375x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/462x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/276x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/464x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/304x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/418x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/375x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/362x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/471x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/268x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/443x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/375x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/462x367" alt="" />
				</div>
				<div class="item">
					<img src="http://placehold.it/276x367" alt="" />
				</div>
			</div>
		</section>
		<!-- END HOME SECTION -->
