		<!-- BEGIN THE HOTELS SECTION -->
		<section id="hotels" class="bg-color pattern divider-bottom-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Places to stay</h1>
					</div>
				</div>
				<div class="row center">
					<p>There are many places to stay around the area, but we have rooms reserved at these hotels.  Transportation between these hotels and the venue will be provided via shuttle.</p>
				</div>
				<div class="row center">
					<div class="col-sm-6">
						<p><a href='http://homewoodsuites.hilton.com/en/hw/groups/personalized/A/AVPNWHW-835-20160625/index.jhtml?WT.mc_id=POG'>Home Wood Suites</a></p>
						<p style="font-size: 1.3em;">Please call (215) 550-8367 to get our group rate</p>
						<p>110 Pheasant Run</p>
					 	<p>Newtown, Pennsylvania 18940</p>
					</div>
					<div class="col-sm-6">
						<p><a href='http://hamptoninn.hilton.com/en/hp/groups/personalized/A/AVPNTHX-GSW-20160624/index.jhtml?WT.mc_id=POG'>Hampton Inn</a></p>
						<p>Group rate expired 5/25 :(</p>
						<p>1000 Stony Hill Road</p>
					 	<p>Yardley, Pennsylvania 19067</p>
						<p>Phone: (215) 504-9752</p>
					</div>
				</div>
			</div>
		</section>
		<!-- END THE WEDDING SECTION -->
