		<!-- BEGIN OUR STORY SECTION -->
		<section id="ourstory">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Our Love Story...</h1>
						<p class="section-desc">
							If we had to tell you one thing about us... it would be that we're so thankful. Thankful that God brought us together.  In life you interact with a lot of<br>different people, but only once in a lifetime do you find someone who is your perfect match. We're so excited to be getting married and most of all<br>excited to share our lives with one another. We are also grateful for the support of our family and friends over the past two years and feel blessed<br>to have you all in our lives. We look forward to sharing this special moment with you!
						</p>
					</div>
				</div>
				<div class="row">		
					<div class="story-elem col-sm-4 col-sm-offset-2" data-animation-direction="from-left" data-animation-delay="100">
						<div class="balloon-left" data-animation-direction="from-bottom" data-animation-delay="600">I do!</div>
						<div class="image">
							<img src="http://placehold.it/750x750" alt="" />
							<div class="hover-info">
								<ul class="sn-icons">
									<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Sarah Johnson<small>19.12.1986</small></h3>
						<p>Sarah is amazing. When I first met her I knew she was amazing and every passing day reminds me of just how amazing she is!<br><br>I really love her incredibly unique blend of talents, interests, and personality. She's a talented artist, always excited about trying new things, and a genuinely loving person.<br><br>She's everything I've always dreamed of and I'm so excited to spend the rest of my life with her!</p>
					</div>
					<div class="story-elem col-sm-4" data-animation-direction="from-right" data-animation-delay="100">
						<div class="balloon-right" data-animation-direction="from-bottom" data-animation-delay="900">Me too!</div>
						<div class="image">
							<img src="http://placehold.it/750x750" alt="" />
							<div class="hover-info">
								<ul class="sn-icons">
									<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<h3>Mark Rohdes<small>25.11.1983</small></h3>
						<p>Someone once told me that "when you meet the right person, you'll know." Well, I just knew. Right away, we connected  in a way that left me feeling whole and complete.<br><br>Mark has a truly amazing heart and I love how genuine and balanced he is about everything.<br><br>I am so incredibly blessed and excited to spend everyday for the rest of my life with my best friend!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- END OUR STORY SECTION -->
