		<!-- BEGIN OUR STORY SECTION -->
		<section id="ourstory">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">Our Love Story...</h1>
						<p class="section-desc">
						</p>
					</div>
				</div>
				<div class="row">
					<div class="story-elem col-sm-4 col-sm-offset-2" data-animation-direction="from-left" data-animation-delay="100">
						<div class="balloon-left" data-animation-direction="from-bottom" data-animation-delay="600">I do!</div>
						<div class="image">
							<img src="http://res.cloudinary.com/dillonshook/image/upload/c_scale,w_750/v1445388215/her_rgcqcr.jpg" alt="" />
							<div class="hover-info">
							</div>
						</div>
						<h3>Chelsea Gottschalk<small>4/6/1991</small></h3>
<!-- 						<p>Sarah is amazing. When I first met her I knew she was amazing and every passing day reminds me of just how amazing she is!<br><br>I really love her incredibly unique blend of talents, interests, and personality. She's a talented artist, always excited about trying new things, and a genuinely loving person.<br><br>She's everything I've always dreamed of and I'm so excited to spend the rest of my life with her!</p>
 -->					</div>
					<div class="story-elem col-sm-4" data-animation-direction="from-right" data-animation-delay="100">
						<div class="balloon-right" data-animation-direction="from-bottom" data-animation-delay="900">Me too!</div>
						<div class="image">
							<img src="http://res.cloudinary.com/dillonshook/image/upload/c_scale,w_750/v1445388215/me_mrprxz.jpg" alt="" />
							<div class="hover-info">
							</div>
						</div>
						<h3>Dillon Shook<small>4/24/1988</small></h3>
<!-- 						<p>Someone once told me that "when you meet the right person, you'll know." Well, I just knew. Right away, we connected  in a way that left me feeling whole and complete.<br><br>Mark has a truly amazing heart and I love how genuine and balanced he is about everything.<br><br>I am so incredibly blessed and excited to spend everyday for the rest of my life with my best friend!</p>
 -->					</div>
				</div>
			</div>
		</section>
		<!-- END OUR STORY SECTION -->
