		<!-- BEGIN CONTACTS SECTION -->
		<section id="rsvp" class="bg-color pattern">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">RSVP</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-8 center">
 						<form id="form-rsvp" method="POST" action="#">
							<div class="form-wrap">
								<section class="highlighted">
									<h3><i class="icon icon-arrow-right"></i>Will you be attending the wedding?<i class="icon icon-arrow-left"></i></h3>
									<div data-value="attending_wedding" class="radio-lilac col-sm-12">
										<button name="rsvp-yes" class="btn btn-default active" data-value="yes"><i class="fa fa-smile-o"></i>Yes</button>
										<button name="rsvp-no" class="btn btn-default" data-value="no"><i class="fa fa-frown-o"></i>No</button>
									</div>
									<div class="col-sm-6">
										<input type="text" name="Name" placeholder="YOUR NAME*" class="form-control required fromName" />
									</div>
									<div class="col-sm-6">
										<input type="email" name="Email" placeholder="YOUR EMAIL*" class="form-control required fromEmail"  />
									</div>
								</section>

								<section>
									<h3><i class="icon icon-arrow-right"></i>Who else is coming with you?<i class="icon icon-arrow-left"></i></h3>
									<div class="col-md-8">
										<input type="text" name="guest" id="guest" placeholder="GUEST NAME" class="form-control" />
									</div>
									<div class="col-md-4">
										<button id="add_guest" class="btn btn-color add_button" data-input="guest" data-wrapper="guest_list">+ Add Guest</button>
									</div>
									<div id="guest_list" class="add_list col-md-12" data-count="2">
<!-- 									<div class="input-group">
											<input type="text" class="form-control" name="guest_1" value="jessica johnson" />
											<span class="input-group-addon"><i class="fa fa-trash"></i></span>
										</div>
-->
									</div>
								</section>

								<section>
									<h3><i class="icon icon-arrow-right"></i>Dinner Options<i class="icon icon-arrow-left"></i></h3>
									<div class="radio-lilac col-sm-12">
										<div class="col-sm-12">
											<div class="col-sm-9 descrip dinner">
												Dual-Plated Beef Tenderloin and Pistachio-Encrusted Sea Bass
											</div>
											<div class="col-sm-3">
												<input type="text" name="meat" placeholder="NUMBER*" class="form-control" />
											</div>
										</div>

										<div class="col-sm-12">
											<div class="col-sm-9 descrip dinner">
												Vegetarian
											</div>
											<div class="col-sm-3">
												<input type="text" name="vedge" placeholder="NUMBER*" class="form-control col-sm-6" />
											</div>
										</div>
									</div>

									<h3>Will you use the provided shuttle service?</h3>
									<div class="descrip shuttle">(Accessible from all reserved blocks of hotel rooms)</div>
									<div data-value="rsvp_shuttle" class="radio-lilac col-sm-12">
										<button class="btn btn-default active" data-value="yes" name="shuttle-yes">
											Yes
										</button>
										<button class="btn btn-default" data-value="no" name="shuttle-no">
											No
										</button>
									</div>

								</section>

								<section class="highlighted">
									<div class="col-sm-12">
										<textarea name="Message" placeholder="LEAVE A NOTE (OPTIONAL)" class="form-control"></textarea>
										<div class="form_status_message"></div>
									</div>
								</section>
							</div>

							<div class="center">
								<button type="submit" class="btn ribbon btn-color submit_form">
									<span class="line_above"></span>
									<i class="icon icon-arrow-right"></i>
									Submit
									<i class="icon icon-arrow-left"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- END CONTACTS SECTION -->
