		<!-- BEGIN THE WEDDING SECTION -->
		<section id="thewedding" class="bg-color pattern divider-bottom-3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">The Wedding</h1>
					</div>
				</div>
				<div class="row center">
					<div class="invite" data-animation-direction="from-left" data-animation-delay="100">
						<div class="invite_authors">
							Sarah
							<span><i class="icon icon-arrow-right"></i>And<i class="icon icon-arrow-left"></i></span>
							Mark
						</div>
						
						<div class="invite_info">
							Happily invite you to celebrate their wedding
							<div class="date">
								20 . 09 . 2015
							</div>
							<div class="hour">at four in the afternoon</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END THE WEDDING SECTION -->
